// Primary colors
$cyan: hsl(179, 62%, 43%);
$brightYellow: hsl(71, 73%, 54%);

// Neutral colors
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);
$white: #fff;

// spacing 
$spacer: 1.875rem;