// Primary colors
$gradient: linear-gradient( to left, hsl(6, 100%, 80%) , hsl(335, 100%, 65%));

// Neutral colors
$white: #fff;
$paleBlue: hsl(243, 100%, 93%);
$grayishBlue: hsl(229, 7%, 55%);
$darkBlue: hsl(228, 56%, 26%);
$lightBlue: #141f4a;
$veryDarkBlue: hsl(229, 57%, 11%);

// spacing  