// Primary colors
$pink: hsl(322, 100%, 66%);
$white: hsl(0, 0%, 100%);

// Neutral colors
$veryPaleCyan: hsl(192, 100%, 96%);
$veryDarkCyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);

// spacing  
$spacer-heading: 1.125rem;
$spacer-description: 3rem;