$veryDarkBlue: hsl(233, 47%, 7%);
$darkUnsaturatedBlue: hsl(244, 38%, 16%);
$softViolet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$transparentWhite: hsla(0, 0%, 100%, 0.75);
$transparentWhite-lighter: hsla(0, 0%, 100%, 0.6);