// Primary colors
$strongCyan: hsl(171, 66%, 44%);
$lightBlue: hsl(233, 100%, 69%);
$white: hsl(0, 0%, 100%);

// Neutral colors
$darkGrayishBlue: hsl(210, 10%, 33%);
$softBlueOcean: #f5f6f8;

// spacing  
$spacer-heading: 1.125rem;
$spacer-description: 3rem;