// Primary colors
$dark-blue1: hsl(217, 28%, 15%); //intro & email sign up bg
$dark-blue2: hsl(219, 30%, 18%); // testimonials bg
$dark-blue3: hsl(218, 28%, 13%); // main bg
$dark-blue4: hsl(216, 53%, 9%); // footer bg

// Accent colors
$cyan: hsl(176, 68%, 64%); // inside cta gradient
$blue: hsl(198, 60%, 50%); //inside cta gradient
$light-red: hsl(0, 100%, 63%); // error

// Neutral colors
$white: hsl(0, 0%, 100%); // headline, hover
$light-gray: hsl(200, 6%, 79%);

// spacing  