// Primary colors
$seaGreen: hsl(192, 37%, 48%);
$darkPurple: hsl(258, 34%, 53%);
$lightPurple: hsl(268, 100%, 86%);

// Neutral colors
$grey: hsl(240, 10%, 57%);
$darkGrey: hsl(240, 21%, 20%);
$cyan: hsl(192, 90%, 77%);
$white: hsl(0, 0%, 98%);

// spacing 
$spacer: 2.25rem;